packages/Services/GatewayServices/log
packages/Services/GatewayServices/node_modules
Services/GatewayServices/node_modules/
./node_modules
packages\Services\ClientManagementServices\node_modules
packages\Services\ClientManagementServices\log
packages\Services\DefectManagementServices\node_modules
node_modules
